/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


html{
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --fnt-family: 'Nunito Sans', sans-serif;
  --bg-color:hsl(0, 0%, 98%);
  --text-color:hsl(200, 15%, 8%);
  --elems-bg-color:white;
  --input-color:hsl(0, 0%, 52%);
  --shadow-color:hsl(0, 0%, 88%);
  --option-select-color:hsl(0, 0%, 95%);



  --fntsze-1: 1.8rem;
  --fntsze-2: 1.5rem;
  --fntsze-3: 1.2rem;
  --fntsze-4: 1.1rem;

  --fntwght-1:800;
  --fntwght-2:600;
  --fntwght-3:300;

  --max-width: 93rem;

}

.dark{
  --bg-color:hsl(207, 26%, 17%);
  --text-color:white;
  --elems-bg-color:hsl(209, 23%, 22%);
  --shadow-color:hsl(208, 26%, 13%);
  --option-select-color:hsl(208, 26%, 13%);
  --input-color:white;
}

.app-container{
  font-family: var(--fnt-family);
  font-weight: var(--fntwght-3);
  color: var(--text-color);
  background-color: var(--bg-color);
  height: 100vh;
}
a{
  color: var(--text-color);
  text-decoration: none;
}

header{
  position: relative;
  box-shadow: 0 1px 5px 0 var(--shadow-color);
  background-color: var(--elems-bg-color);
}

.inner-header{
  max-width: calc(var(--max-width) + 5rem);
  margin: 0 auto;
  padding: 0 2.5rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner-header h1{
  font-size: var(--fntsze-1);
  font-weight: var(--fntwght-1);
}
.luminosity-btn{
  cursor: pointer;
  font-size: var(--fntsze-3);
  font-weight: var(--fntwght-2);
  display: flex;
  align-items: center;
  gap: .5rem;
}
.luminosity-btn img{
  width: 19px;
  fill: red;
}

.loading-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
.circle-container{
  display: flex;
  gap: 2rem;
}
.circle{
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 77%);
}
.c1{
  animation: loading 1s ease infinite;
}
.c2{
  animation: loading 1s ease infinite;
  animation-delay: .3s;
}
.c3{
  animation: loading 1s ease infinite;
  animation-delay: .6s;
}

@keyframes loading{
  0%{
    top: 0rem;
  }
  50%{
    top: -5rem;
  }
  100%{
    top: 0;
  }
}

.home-container{
  padding: 3.5rem 2.5rem;
  background-color: var(--bg-color);
}

.navigation{
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  height: 8rem;
}
.search-container{
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  height: 4rem;
  max-width: 35rem;
  width: 35rem;
  background-color: var(--elems-bg-color);
  border-radius: .5rem;
  box-shadow: 0 0 7px 0 var(--shadow-color);
}

.search-container svg{
  width: 20px;
  fill: var(--input-color);
}
.search-container input{
  outline: none;
  height: 100%;
  width: calc(100% - 2rem);
  padding-left: 2rem;
  border: none;
  font-size: var(--fntsze-4);
  background-color: var(--elems-bg-color);
  color: var(--input-color);
}

.search-container input::placeholder{
  color: var(--text-color);
}
.search-container svg{
  fill: var(--text-color);
}

.select-container{
  width: 16rem;
  height: 4rem;
  position: relative;
  z-index: 20;
}

.select{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.7rem;
  padding-right: 1.5rem;
  background-color: var(--elems-bg-color);
  font-size: var(--fntsze-4);
  font-weight: var(--fntwght-2);
  height: 4rem;
  border-radius: .5rem;
  box-shadow: 0 0 7px 0 var(--shadow-color);
}

.select img{
  width: 15px;
}
.option-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--elems-bg-color);
  font-size: var(--fntsze-4);
  font-weight: var(--fntwght-2);
  margin-top: .5rem;
  height: 0;
  transition: height .5s ease;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 0 7px 0 var(--shadow-color);
}

.option{
  cursor: pointer;
  padding: .5rem 0;
  padding-left: 1.7rem;
}
.option:hover{
  background-color: var(--option-select-color);
}
.show-options{
  height: 15rem;
}

.country-list-container{
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  row-gap: 7rem;
}
.country-card-container{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 19.5rem;
  height: 26rem;
  border-radius: 1rem;
  background-color: var(--elems-bg-color);
  box-shadow: 0 0 11px 0 var(--shadow-color);
  transition: transform .3s ease;
}
.country-card-container:hover{
  transform: scale(1.05,1.05);
}
.flag-img{
  min-height: 45%;
  max-height: 45%;
  border-radius: 1rem 1rem 0 0;

}
.inner-text{
  padding: 2rem;
}
.inner-text h2{
  font-size: var(--fntsze-2);
  font-weight: var(--fntwght-1);
  padding-bottom: 1rem;
}
.inner-text p{
  font-size: var(--fntsze-4);
  padding-bottom: .5rem;
}
.stat{
  font-weight: var(--fntwght-2);
}

.top-btn{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--elems-bg-color);
  box-shadow: 0 0 11px 0 var(--shadow-color);
  transition: transform .2s ease;
}
.top-btn img{
  transform: rotate(180deg);
}
.top-btn:hover{
  transform: scale(1.05,1.05);
}
.top-btn:active{
  opacity: .4;
}


@media screen and (max-width:42rem) {
  :root{
    --fntsze-1: 1rem;
    --fntsze-2: 1.3rem;
    --fntsze-3: .9rem;
    --fntsze-4: .85rem;
    --fntsze-card-info:.95rem
  }

  .inner-header{
    padding: 0 1.5rem;
  }
  .inner-header img{
    width: 13px;
  }

  .circle{
    width: 3rem;
    height: 3rem;
  }

  .home-container{
    padding: 0 1.5rem;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
  }
  .navigation{
    margin-top: 0;
    height: 13.5rem;
    padding-bottom: 2rem;
    flex-direction: column;
  }
  .search-container svg{
    width: 15px;
  }
  .select img{
    width: 10px;
  }
  .search-container{
    width: 100%;
  }

  .country-card-container p{
    font-size: var(--fntsze-card-info);
  }
}

@media screen and (max-width:39rem) {
   .country-list-container{
    flex-direction: column;
    align-items: center;
   }
}

/*details page*/

.country-details-container{
  --back-btn-fnt:1.4rem;
  --title-fnt:2.4rem;
  --stats-fnt:1.25rem;
  background-color: var(--bg-color);
}

.country-details-inner{
  max-width: calc(var(--max-width) + 5rem);
  padding: 5.5rem 2.5rem;
  margin: 0 auto;
  padding-bottom: 10rem;
  background-color: var(--bg-color);
}

.back-btn{
  cursor: pointer;
  font-size: var(--back-btn-fnt);
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3.5rem;
  background-color: var(--elems-bg-color);
  box-shadow: 0 0 11px 0 var(--shadow-color);

}
.back-btn:active{
  opacity: .4;
}
.back-btn img{
  width:35px;
}
.flag-img-detail{
  width: 40rem;
  height: 100%;
}
.country-info{
  margin-top: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 29rem;
}

.right-text{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.cols{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.right-text h2{
  font-size: var(--title-fnt);
  padding-bottom: 2rem;
}

.right-text p{
  font-size: var(--stats-fnt);
  padding-bottom: .6rem;
}

.border-ctrs-container{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}
.border-ctrs-container p{
  padding: 0;
}
.link-container{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  height: 100%;
}
.border-link{
  padding: .2rem 1.4rem;
  border-radius: .2rem;
  box-shadow: 0 0 5px 0 var(--shadow-color);
  background-color: var(--elems-bg-color);
}
.border-link:active{
  opacity: .4;
}

/*leaflet map*/
.map-container{
  margin-top: 7rem;
  background-color: var(--bg-color);
}
#map{
  width: 100%;
  height: 45rem;
  margin: 0 auto;
}

@media screen and (max-width:69rem) {
  .flag-img-detail{
    width: 35rem;
    height: 23rem;
  }
  .country-info{
    flex-direction: column;
    height: fit-content;
  }
  
  .right-text{
    width: 80%;
    min-width: 30rem;
  }
}

@media screen and (max-width:43.5rem) {
  .flag-img-detail{
    width: 80%;
    height: 23rem;
    min-width: 30rem;
  }
}

@media screen and (max-width:30rem) {
  .country-details-container{
    --back-btn-fnt:.9rem;
    --title-fnt:1.9rem;
    --stats-fnt:1.1rem;
  }

  .country-details-inner{
    padding-top: 3rem;
  }

  .back-btn{
    font-size: var(--back-btn-fnt);
    width: 7rem;
    height: 2.3rem;
  }
  .back-btn img{
    width:20px;
  }
  .country-info{
    align-items: flex-start;
  }
  .flag-img-detail{
    height: 17rem;
    min-width: 0;
    width: 100%;
  }
  .right-text{
    min-width:fit-content;
  }

  .cols{
    flex-direction: column;
  }

  .right-text h2{
    font-size: var(--title-fnt);
  }

  .right-text p{
    font-size: var(--stats-fnt);
    padding-bottom: .6rem;
  }

  .border-ctrs-container{
    flex-direction: column;
    align-items: flex-start;
  }

}

/*404 page*/
.page-404-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.title-404{
  font-size: 9rem;
}
.sub-title-404{
  font-size: 3rem;
}
.text-404{
  font-size: 1.3rem;
}
.link-404{
  background-color: var(--elems-bg-color);
  padding: .5rem 1rem;
  border-radius: .5rem;
  margin-top: 1rem;
  box-shadow: 0 0 13px 0 var(--shadow-color);
  transition: transform .2s ease;
}
.link-404:hover{
  transform: scale(1.05,1.05);
}
.link-404:active{
  opacity: .4;
}
